body{
background-image:url("img/fond.jpg") ;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size:15px;

}
h2
{
font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size: 1.5em ;
color:#FD4626;
text-align:center ;
padding:10px;
}
h3
{
font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size: 1.2em ;
color : black ;
}

table 
{
border: medium solid #7FC6BC;
border-collapse: collapse;
}
td
{
	width:50%;
	margin:10px ;
	padding:10px ;
}
th
{
font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size: 1.3em ;
color : #DF04BB;
}
a.button{
	background:url(img/button.gif);
	display:block;
	color:#555555;
	font-size:11px;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:150px;
	text-align:center ;
}
a:hover.button{
	color:#0066CC;
}

