body{
background-image:url("img/fond.jpg") ;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size:15px;

}
h2
{
font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size: 1.5em ;
color : #DF04BB;
}
h3
{
font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
font-size: 1.5em ;
color:#FD4626;
font-style:oblique  ;
}
a.button{
	background:url(img/button.gif);
	display:block;
	color:#555555;
	font-size:11px;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:191px;
}
a:hover.button{
	color:#0066CC;
}

/* -------------------- */
/* CLASSES				*/
/* -------------------- */
	.add{
		background:url(img/add.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.delete{
		background:url(img/delete.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.user{
		background:url(img/user.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.modif{
		background:url(img/modif.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.coeur{
		background:url(img/coeur.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.download{
		background:url(img/download.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}

	.lens{
		background:url(img/lens.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.info{
		background:url(img/info.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	

form {
 background-color:#FAFAFA;
  margin-top:30px;
  background:#FFF;
  height: auto;
  padding:20px 50px 20px;
  border: solid 1px #9A9591;
  border-radius:10px;
 }

label {
 margin-top:10px;
 font-style:oblique;
 display:block ;
 }


input[type=text] , select
{
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:320px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
 input[type=text]:focus ,input[type=password]:focus, input[type=email]:focus, textarea:focus, select:focus
 {
  border:solid 1px red;
}
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:120px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }
table {
border: medium solid #7FC6BC;
border-collapse: collapse;
}
th {
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
border: thin solid #7FC6BC;
width: 50%;
padding: 5px;
}
td {
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
border: thin solid #7FC6BC;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
a, li
{
text-decoration:none ;
color : #EF5305 ;
}

